{% include 'component/header.html.twig' %}


<div class="wrapper">
	
	<h2>{{title}}</h2>

	
	{% include 'component/message.html.twig' %}

	{% include 'component/error.html.twig' %}


	<h3>ユーザー一覧</h3>

	<table class="user-table" border="1">
		<thead>
			<tr>
				<td>ID</td>
				<td>権限</td>
				<td>ユーザー名</td>
				<td>メールアドレス</td>
				<td>削除フラグ</td>
				<td></td>
				<td></td>
			</tr>
		</thead>

		<tbody>
			{% for member in members %}
				<tr class="{% if member.role == constant('lib\\User::ADMIN') %}user-admin{% elseif member.delete_flg != 0 %} user-deleted{% endif %}">
					<td>{{member.id}}</td>
					<td>{% if member.role == constant('lib\\User::ADMIN') %}管理者{% endif %}</td>
					<td>{{member.user_name}}</td>
					<td>{{member.email}}</td>
					<td>
						{% if member.delete_flg == 1 %}true{% else %}false{% endif %}
					</td>

					<td><a href="./edit.php?id={{member.id}}"><button class="btn edit">編集</button></a></td>
					<td>
						<form name="form_delete" action="" method="post">
							<input type="hidden" name="user_id" value="{{member.id}}">
							<input type="hidden" name="send" value="delete">
							<button class="btn send_btn delete" name="send" value="delete">削除</button>
						</form>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

</div>

{% include 'component/footer.html.twig' %}
