<div class="event-list-container">

	<div class="event-list grid">
			<div></div>
			<div>収支</div>
			<div class="plus-green">
				{% if  sum >= 0 %}+{{sum | number_format(0, '.', ',')}}{% endif %}
			</div>
			<div class="minus-red">
				{% if  sum < 0 %}{{sum | number_format(0, '.', ',')}}{% endif %}
			</div>
			<div>備考</div>
			<div></div>
			<div></div>
			<div></div>

		{% for key, item in items %}
			{# 入出金の1件分 #}
				<div>{{item.date | format_datetime('short', 'none')}}</div>{# 日付 #}
				<div>{{item.c_html | raw}}{{item.category_name}}</div>{# 支出・収入カテゴリー #}
				{# 支出か収入かで表示場所を変える #}
				{% if item.option == 0 %}
					<div class="list-plus"></div>
					<div class="list-minus">-{{item.amount | number_format(0, '.', ',')}}</div>
				{% else %}
					<div class="list-plus">+{{item.amount | number_format(0, '.', ',')}}</div>
					<div class="list-minus"></div>
				{% endif %}
				<div class="list-other">{{item.other}}</div>{# 備考 #}
				<div></div>

				{# 編集・削除ボタン #}
				<div><a href="edit.php?id={{item.event_id}}"><button class="btn edit">編集</button></a></div>
				<div>
					<form name="form_delete" action="" method="post">
						<input type="hidden" name="event_id" value="{{item.event_id}}">
						<input type="hidden" name="send" value="delete">
						<button class="btn send_btn delete" name="send" value="delete">削除</button>
					</form>
				</div>

		{% endfor %}
</div>
	