<h2>{{title}}</h2>

<form action="" method="post" class="event_form">
	<div class="event_inputs">
		<label for="min_date">日付</label>
		<input type="date" id="min_date" name="min_date">
		 ～ 
		<input type="date" id="max_date" name="max_date">

		<br>

		<label for="min_amount">金額</label>
		<input id="min_amount" type="number" min="0" name="min_amount">
		 ～ 
		<input id="max_amount" type="number" min="0" name="max_amount">

		<br>

		<label for="outgo">支出</label>
		<input type="radio" name="option" value="outgo" id="outgo" checked>
		<label for="income">収入</label>
		<input type="radio" name="option" value="income" id="income">
		{# <label for="exchange">振替</label>
		<input type="radio" name="option" value="exchange" id="exchange"> #}

		<br>

		<table class="categories">
			<tr>
					<td>
						<input class="category_radio"  type="radio" name="category_id" id="unselected" checked>
						<label for="unselected"><i class="fa-solid fa-question"></i>未選択</label>
				</td>
			{% for key, category in categories %}
				{% if (loop.index % 4) == 0 %}<tr>{% endif %}
					<td>
						<input class="category_radio"  type="radio" name="category_id" id="{{category.category_id}}"
						value="{{category.category_id}}" {% if preset.category_id == category.category_id %}checked{% endif %}>
						<label for="{{category.category_id}}">{{category.i_html | raw}}{{category.category_name}}</label>
					</td>
				{% if (loop.index % 4) == 3 %}</tr>{% endif %}
			{% endfor %}
			
			<input type="hidden" name="wallet_id" value="1">
	
		</table>

		<br>

		<label for="other">備考</label>
		<textarea name="other" id="other" cols="40" rows="4"></textarea>
	</div>

	<button class="btn" name="submit" value="search">検索</button>

</form>
