{% include 'component/header.html.twig' %}

<div class="wrapper">

	{% include 'component/error.html.twig' %}


	{% if page == 'admin' %}
	<a class="text-center" href="{{constant('lib\\common\\Bootstrap::APP_URL')}}/src/admin/{{link}}">{{page_to}}</a>
	{% else %}
		<a class="text-center" href="{{constant('lib\\common\\Bootstrap::APP_URL')}}/src/{{link}}">{{page_to}}</a>
	{% endif %}

</div>

{% include 'component/footer.html.twig' %}

